unpackage/
.vs/
node_modules/
dist/
*.log
.DS_Store

# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.iml
.idea/

# SSL certificates & secrets
*.pfx
*.p12
*.pem
*.key

# .NET
[Bb]in/
[Oo]bj/
*.user
*.suo
packages/
*.exe
*.dll
*.pdb
*.cache